*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body{
  background-color: #f8f9fa;
}
header{
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
}

header nav{
  display: flex;
  gap: 67px;
  padding: 5px 10px 10px 5px;
}

.search-bar{
  display: flex;
  gap: 0px;
}

input{
  padding: 2px;
  font-size: 7px;
  margin: 0;
  height: 20px;
   border: black 0.5px solid;
}

.search-bar button{
  padding: 2px;
  font-size: 7px;
  cursor: pointer;
  margin: 0;
   height: 20px;
   border: black 0.5px solid;
}



.logo{
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 10px;
}
.logo-text .title{
  font-size: 12px;
}

.logo-text .description{
  font-size: 6px;
}

main{
  margin-inline: 100px;
  background-color: white;
  display: flex;
  gap: 20px;
}

.sidebar-esquerda{
  width: 20%;
  padding-left: 20px;
  padding-top: 20px;
}
.sidebar-esquerda p{
  font-size: 8px;
  margin-bottom: 5px;
}

hr{
  border: none;
  border-top: 0.5px solid #ccc;
}
 
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}
ul li a{
  text-decoration: none;
  color: blue;
  font-family: monospace;
  font-size: 7px;
}
.inicio{
color: black;
}

ul li a:hover{
  text-decoration: underline;
}

.conteudo-principal{
  width: 70%;
}

h1{
  font-size: 14px;
}

.introducao{
  font-size: 8px;
  padding-top: 15px;
  text-align: justify;
  line-height: 1.5;
}

.introducao p{
  line-height: 1.5;
}
.indentado{
  padding-top: 5px;
}

.introducao h2{
 color: #101418;
 padding-bottom: 2px;
}
.introducao h3{
  color: #101418;
  padding-top: 3px;
}

.conteudo-flex{
  display: flex;
  gap: 10px;
}
.sidebar-conteudo-principal{
  width: 1000px;
  padding-top: 20px;
}
.sidebar-conteudo-principal p{
  font-size: 7px;
  text-align: center;
}
.foto-fallen{
  border: #a2a9b1 0.5px solid;
  text-align: center;
  font-size: 6px;
  background-color: #f8f9fa;
  padding-top: 5px;
  padding-bottom: 5px;
}


.informacoes-pessoais{
  display: grid;
  grid-template-columns:  2fr 3fr;
  margin-inline: 3px;
  line-height: 1.5;
}

.informacoes-pessoais h3{
  grid-column: 1 / -1;
  text-align: center;
  font-size: 7px;
  margin-top: 3px;
  padding: 2px;
  background-color: #DEDEE2;
  color: black;
  margin-bottom: 0;
}
.informacoes-pessoais p{
  font-size: 7px;
  text-align: left;
  margin-top: 2px;
  padding: 0;
}


footer{
  text-align: center;
  font-size: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-inline: 100px;
  background-color: white;
}

footer a{
  text-decoration: none;
  color: blue;
}

footer a:hover{
  text-decoration: underline;
}

footer p{
  margin-top: 10px;
}